<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @*bootstrap*@
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        
            <header>
                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-family: 'Patua one';">

                    <div class="navbar-header">

                        <a class="navbar-brand" href="/Home/Index"><i><span style="font-size:36px;">SoftPech</span></i></a>
                        <a class="navbar-brand" href="#">Home</a>
                        <a class="navbar-brand" href="#">Como Funciona</a>
                        
                        <a class="navbar-brand" href="#">Contacto</a>
                        
                        <a class="navbar-brand" href="#">¿Quienes Somos?</a>

                    </div>
                    @*<div class="navbar-collapse collapse">
                        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { id = "formLogin", @class = "navbar-form navbar-right" }))
                        {

                            <div class="form-group">
                                <input type="text" placeholder="Usuario" name="UserName" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Contraseña" name="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Ingresar</button>
                        }
                    </div>@*.navbar-collapse*@

                </div>



            </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
